/* style.css (Versión Optimizada para Móviles y Vertical) */

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #000;
}

/* ------------------------------------------- */
/* NUEVO: Encabezado de Compañía (Permanente) */
/* ------------------------------------------- */
#encabezado-info {
    font-family: Arial, sans-serif;
    color: #336699;
    font-weight: bold;
    text-align: center;
    /* Ajuste de márgenes para la parte superior de la página */
    margin: 0 auto 20px auto; 
    padding-bottom: 10px;
    border-bottom: 2px solid #336699;
    max-width: 400px;
}

#encabezado-info div {
    display: block;
    line-height